.Searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffca00;
  border-radius: 3px;
  overflow: hidden;
  height: 65px;
}

.SearchForm__button {
  border-radius: 50px;
  color: white;
  background-color: #ffa13d;
  font-family: 'Quicksand';
  border: 0;
  outline: 1px solid #b86920;
  border-radius: 10px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  margin: 5px 8px;
  font-size: 18px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: 1px;
  left: 310px;

  position: relative;
  cursor: pointer;
}

.SearchForm__button:hover:focus {
  background: darken(#ffa340, 3%);
}

.SearchForm__button:active {
  top: 2px;
}

.input__box {
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #adadad;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  position: absolute;
}

.input__box::placeholder {
  color: #adadad;
  font: inherit;
  font-size: 14px;
}
